:root {
  --platform-aliases-title: #E1E1E6;
  --platform-aliases-text-base: #C4C4CC;
  --platform-aliases-text-apoio: #8D8D99;
  --neutral-colors-white: #FFFFFF;
}

#homeTag {
  color: var(--neutral-colors-white);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.35419rem;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(11rem + 7.5rem);

  background-image: url('../../assets/bg-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: var(--platform-aliases-title);
  font-size: 3rem;
  font-weight: 700;
  line-height: 125%;
}

button {
  display: inline-flex;
  padding: 0.75rem 2rem;

  color: var(--neutral-colors-white);
  
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;

  background: transparent;

  border-radius: 0.3125rem;
  border: 2px solid #FFF;

  margin-top: 1.5rem;
  
  cursor: pointer;

  transition: all 0.3s ease;
}

button:hover {
  scale: 1.1;
  filter: brightness(1.4);
  background: hsla(0, 0%, 100%, 0.15);
}